$primary-color-dark: #0288d1;
$primary-color: #03a9f4;
$primary-color-light: #b3e5fc;
$primary-color-text: #fff;
$accent-color: #f44336;
$primary-text-color: #212121;
$secondary-color: #4fc3f7;
$thirdly-color: #4a92bd;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
