@for $index from 0 through 16 {
    $offset-size: $index * 4;

    $positionMap: (
        r: right,
        l: left,
        b: bottom,
        t: top,
    );

    @each $position in t, r, b, l, x, y, a {
        @each $key, $val in (p: padding, m: margin) {
            .#{$key}#{$position}-#{$index} {
                @if $position == x {
                    #{$val}-left: #{$offset-size}px !important;
                    #{$val}-right: #{$offset-size}px !important;
                } @else if $position == y {
                    #{$val}-top: #{$offset-size}px !important;
                    #{$val}-bottom: #{$offset-size}px !important;
                } @else if $position == a {
                    #{$val}: #{$offset-size}px !important;
                } @else {
                    #{$val}-#{map-get($positionMap, $position)}: #{$offset-size}px !important;
                }
            }
            .#{$key}#{$position}-n#{$index} {
                @if $position == x {
                    #{$val}-left: #{-$offset-size}px !important;
                    #{$val}-right: #{-$offset-size}px !important;
                } @else if $position == y {
                    #{$val}-top: #{-$offset-size}px !important;
                    #{$val}-bottom: #{-$offset-size}px !important;
                } @else if $position == a {
                    #{$val}: #{-$offset-size}px !important;
                } @else {
                    #{$val}-#{map-get($positionMap, $position)}: #{$offset-size}px !important;
                }
            }
        }
    }
}
